@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    /* position: absolute; */
    position:fixed;
    z-index: 999;
    background-color: #323946;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 45px;

}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.sidebar nav li a:hover{
    color: #3BBA9C;
}

.main{
    background-color: #282f3a;
    width: 900vw;
    height: 500vh;
}
 
.container{
    display: flex;
}

.infoContainer{
    /* background-color: beige; */
    height: 50vh;
    width: 80vw;
    margin: 175px auto ;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    color: white;
    margin-left: 30px;
}

.hello{
    font-size: 1.5em; 
}
.name{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    color: #3BBA9C;
}
.about{
    font-size: 2em;
}
.moreabout{
    font-size: 1.75em;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
}

.socialmedia{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(#1f242d);
    border-radius: 50%;
    font-size: 2rem;
    color: #1f242d;
    /* margin: 15px auto; */
    margin-left: 50px;
    transition: .5s ease-in;
}

.socialmedia a{
    margin-left: 20px;
}

.buttons{
    margin-top: 0.5em;
    margin-left: 35px;
    font-size: 10px;
    
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    border-color: #282f3a;
    color: #1f242d;
    background-color: #3BBA9C;
    font-weight: bold;
    font-size: 1.5em;
    margin: 3px 3px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
}

.buttons button:hover{
    color: #3BBA9C;
    background-color: #1f242d;
}

.devPic img{
    height: 55vh;
}

.contactform{
    padding: 0 34px;
    font-family: 'Nunito', sans-serif;
    margin: 88px;
    color: white;
}

.contactform h1{
    font-family: 'Mulish', sans-serif;
    text-align: center; 
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    /* width: 20vw; */
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
}

.contactform form{
    margin: 0 40px;
}

#emailHELP{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
}

/* not given */
.contactform button{
    padding: 9px 14px;
    border-radius: 22px;
    color: #1f242d;
    background-color: #3BBA9C;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.contactform button:hover{
    color: #3BBA9C;
    background-color: #1f242d;
}

.form-check{
    flex-direction: row;
}

.form-check input{
    width: 24px;
    margin: 3px 0;
}

.projectItem{
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.projectsContainer{
    margin: 10px 88px;
}

h1{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin: 23px;
    color: #3BBA9C;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #3BBA9C);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work button{
    padding: 9px 14px;
    border-radius: 22px;
    color: #1f242d;
    background-color: #3BBA9C;
    font-weight: bold;
    font-size: 10px;
    margin: 5px 3px;
    cursor: pointer;
}

.work button:hover{
    color: #3BBA9C;
    background-color: #1f242d;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto; 
    width: fit-content;
    border: 1px solid #3BBA9C;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}

.btn:hover{
    background: #3BBA9C;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.contain{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.contain:nth-child(1){
    animation-delay: 0s;
}
.contain:nth-child(2){
    animation-delay: 1s;
}
.contain:nth-child(3){
    animation-delay: 2s;
}
.contain:nth-child(4){
    animation-delay: 3s;
}
.contain:nth-child(5){
    animation-delay: 4s;
}
.contain:nth-child(6){
    animation-delay: 5s;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-contain{
    left : 0px;
}

.right-contain{
    left: 50%;
}

.contain img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 30;
}

.right-contain img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 20;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
    color: #3BBA9C;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-contain-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 6;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px;
}

.right-contain-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 6;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px;
}

/* .layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
} */

/* p{
    font-family: 'Source Sans Pro', sans-serif;
} */

/* .projectItem button{
    padding: 9px 14px;
    border-radius: 22px;
    color: #1f242d;
    background-color: #0ef;
    font-weight: bold;
    font-size: 15px;
    margin: 5px 3px;
    cursor: pointer;
}

.projectItem button:hover{
    color: #0ef;
    background-color: #1f242d;
} */

.intro{
    margin: 88px 88px;
    color: white;
}

.intro h1{
    font-family: 'Heebo', sans-serif;
    margin: 23px;
    font-weight: bold;
    color: #3BBA9C;
}

.intro h2{
    font-family: 'Heebo', sans-serif;
    margin: 20px;
    font-weight: bold;
    /* color: #3b89ba; */
}

.intro p{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    margin: 23px;
}

.skillcontainer{
    padding: 23px;
}

.skillitem{
    display: flex;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.skill{
    margin: 10px;
    height: 10px;
    width: 265px;
    background-color: white;
    border: 2px solid white ;
}

/* .hundred{
    width: 265px;
    background-color: pink;
}

.fifty{
    width: 200px;
    background-color: pink;
}

.t5{
    width: 150px;
    background-color: pink;
} */

.sidebarGo{
    transform: translate(-443px, 0);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 9999; /* changes made here*/
}

.ham{
    margin-top: 8px;
    margin-left: 8px;
}

.cross{
    margin-left: 250px;
    margin-top: 8px;
}

@media (max-width: 1400px){
    .buttons{
        font-size: 6px;
    }
    .devInfo{
        font-size: 10px;
    }
    .devPic{
        display: none;
    }
    .intro, .projectsContainer, .contactform, .worklist{
        margin: 50px 8px;
    }
    .worklist{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .contain{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-contain{
        left: 0;
    }
    .left-contain img, .right-contain img{
        left: 10px;
    }
    .left-contain-arrow, .right-contain-arrow{
        border-right: 15px solid white;
        border-left: 0;
        left: -15px;
    }
}
